<!DOCTYPE html>
<html>
<head>
    <title>Employer Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>CampusHire</h2>
    <div class="nav-links">
        <a href="/post_job">Post Job</a>
        <a href="/view_applicants">Applicants</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="page-container">
    <div class="card">
        <div class="page-title">
            Welcome, {{ session['employer_name'] }}
        </div>

        <div class="form-row">
            <a href="/post_job">
                <button>Post a Job</button>
            </a>

            <a href="/view_applicants">
                <button>View Applicants</button>
            </a>
        </div>
    </div>
</div>

</body>
</html>
